<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Map</key>
	<string>map0.png</string>
	<key>MapName</key>
	<string>赤脊山</string>
	<key>Towns</key>
	<array>
		<dict>
			<key>TownID</key>
			<string>0</string>
			<key>TownName</key>
			<string>湖畔镇</string>
			<key>Area</key>
			<dict>
				<key>X</key>
				<integer>200</integer>
				<key>Y</key>
				<integer>400</integer>
				<key>Width</key>
				<integer>150</integer>
				<key>Height</key>
				<integer>120</integer>
			</dict>
			<key>Tasks</key>
			<array>
				<string>1</string>
			</array>
		</dict>
	</array>
	<key>BattleArea</key>
	<array>
		<dict>
			<key>BattleAreaID</key>
			<string></string>
			<key>BattleAreaName</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
